@import url(http://allfont.ru/allfont.css?fonts=a_avantelt-demibold);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import  "grid.css";



.container {
    margin: 0 auto;
}

 body {
     color: black;
     background: #E4E4E4;
     margin: 0;
     font-family: 'Open Sans', sans-serif;
 }
 header {
     background-color: white;
     height: 60px;
     margin: 0;
 }

.logo{
     height: 100%;
     float: left;
 }
.logo img{
     color: black;
     width: 90%;
     margin: 5px;
     line-height: 60px;
 }
.menu {
     list-style: none;
     display: table;
     background: white;
     height: 20px;
     text-align: center;
     padding-left: 0;
     margin-top: 15px;

 }
.menu li {
     float: left;
     display: table-cell;
     height: 20px;
     position: relative;
     vertical-align: middle;
 width: 16.5%;
 }
.menu li::after {
     content: '/';
     font-size: 0.6em;
     padding-top: 7px;
     float: right;
 }
.menu li:last-child:after{
 content: '';
 }

.menu a {
     text-decoration: none;
     font-family: 'Prosto One', cursive;
 font-weight: bold;
     text-align: center;
     color: #000000;
     text-transform: uppercase;
     font-size: 0.6em;
     letter-spacing: 1px;
 }

.menu a:hover {
     color: #1b19c3;
 }

.icons{
     float: right;
     height: 100%;
 }
.icons a{
     color: #000000;
    margin: 5px;
     line-height: 60px;
 }
.text {
    background-color: #ffffff;
     margin-top: 5px;
 }
.text h1 {
     font-size: 1.9em;
 }

.text h6 {
  font-style: italic;
  border-bottom: 1 px dotted #29d3d4;
 padding-bottom: 20 px;
  margin: 0;
 }
.text img{
     width: 70%;
  }
.center {
     text-align: center;
 }

.sidebar {
     background-color: white;
     margin-top: 5px;
     margin-left: 40px;
     font-size: 0.8em;
 }
.sidebar img{
     width: 100%;
 }
.sidebar a {
     color: #3074ff;
 }




